@{
    ViewBag.title = "Cambiar tipo de empleado";
}
<hr />
<h1>Cambiar el tipo de empleado a:</h1>
<hr />
<br />

<nav class="nav flex-column">


    <a class="nav-link" asp-action="CambiarAEmpleadoAsistente" asp-route-id="@ViewBag.IdDeEmpleado">• Empleado asistente</a> 
    <a class="nav-link" asp-action="CambiarAEmpleadoAdministrador" asp-route-id="@ViewBag.IdDeEmpleado">• Empleado administrador</a>
</nav>
<br />
<hr />
<a class="btn btn-outline-secondary" asp-action="Mostrar">Volver</a>