@model AsopaabiOnline.UI.Models.Role


@{
    ViewBag.Title = "Eliminar";
}


<div class="row justify-content-md-center">


    <div class=" card  w-75">


        <div class="card-header">
            <h3 class="card-title "> @ViewBag.Title</h3>

        </div>

       
        <div class="card-body text-center">
            <br />
            <h4 class="card-subtitle text-center">¿Está seguro que desea eliminar este rol?</h4>
            <br />
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>



            </dl>
        </div>

        <div class="card-footer text-center ">
            <form asp-action="DeleteRole" asp-controller="Administrador" method="post">

                <input type="hidden" asp-for="id" />
                <input type="submit" value="Sí" class="btn btn-danger btn-lg" style="width:50px;" />

                <a class="btn btn-secondary btn-lg" asp-action="RolesList">No</a>

            </form>
        </div>
    </div>
    </div>
