@model   IEnumerable< AsopaabiOnline.Modelo.HistorialPedido>

@{ 
    ViewBag.title = "Historial de Pedidos";
}

<h3>@ViewBag.title </h3>



@if (Model.Any())
{
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPedido)
            </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var historial in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => historial.IdPedidoNavigation)
                </td>
            </tr>
        }



    </tbody>


    </table>





}