@model AsopaabiOnline.Modelo.DireccionPedido

@{
    ViewBag.Title = "AgregarDireccion";

}
<h3>Dirección de los pedidos</h3>
<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-controller="DireccionesParaPedidos" asp-action="Agregar" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            <table>
                <thead>
                    <tr>
                        <th>
                            <label asp-for="IdProvincia" class="control-label"></label>
                        </th>
                        <th>
                            <label asp-for="IdCanton" class="control-label" style="width:210px;"></label>
                        </th>
                        <th>
                            <label asp-for="IdDistrito" class="control-label" style="width:210px;"></label>
                        </th>
                        <th>
                            <label asp-for="Detalles" class="control-label"></label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select id="provincias" asp-for="IdProvincia" asp-items=@(new SelectList(Model.LaListaDeProvincias,"Id","Nombre")) class="form-control" style="width:230px;" required>
                                <option selected="selected" disabled value="">Seleccione una opción</option>
                            </select>
                            
                            <span asp-validation-for="IdProvincia" class="text-danger"></span>

                        </td>
                        <td>

                            <select id="cantones" asp-for="IdCanton" class="form-control" required>
                              
                            </select>
                            <span asp-validation-for="IdCanton" class="text-danger"></span>
                        </td>
                        <td>
                            <select id="distritos"  asp-for="IdDistrito" class="form-control" required>
                            
                            </select>
                            <span asp-validation-for="IdDistrito" class="text-danger"></span>
                        </td>

                        <td>
                            <textarea asp-for="Detalles" class="form-control" style="width:210px; height:80px;" required></textarea>
                            <span asp-validation-for="Detalles" class="text-danger"></span>
                        </td>

                    </tr>
                </tbody>
            </table>
            <hr />
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-success" />
                <a class="btn btn-outline-secondary" asp-action="Mostrar">Volver</a>
            </div>

        </form>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

       

        $(document).ready(function () {
            $("#provincias").change(function () {
                $("#cantones").empty();
                $("#distritos").empty();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CargarCantones")',

                    dataType: 'json',

                    data: { id: $("#provincias").val() },

                    success: function (direcciones) {
                        $("#cantones").append('<option value="' + -1 + '">' + "Seleccione una opción" +'</option>');

                        $.each(direcciones, function (recorrer, cantones) {
                            $("#cantones").append('<option value="' + cantones.value + '">' + cantones.text + '</option>');
                        });
                    } 
                       
                           
                });
                return false;
            })



        })


        $(document).ready(function () {
            $("#cantones").change(function () {
                $("#distritos").empty();
               
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CargarDistritos")',

                    dataType: 'json',

                    data: { id: $("#cantones").val() },
                    

                    success: function (direcciones) {
                        $("#distritos").append('<option value="' + -1 + '">' + "Seleccione una opción" +'</option>');

                        $.each(direcciones, function (recorrer, cantones) {
                            $("#distritos").append('<option value="' + cantones.value + '">' + cantones.text + '</option>');
                        });
                    }  
                    
                });
                return false;
            })



        })

    </script>
}