@model AsopaabiOnline.Modelo.DireccionPedido

@{
     ViewBag.Title = "Agregar dirección";

}
<br />
<div class="row justify-content-md-center">
    <div class="card w-50">
        <h3 class="card-header  text-center">@ViewBag.Title </h3>

        <div class="card-body">

            <form asp-controller="DireccionesParaPedidos" asp-action="Agregar" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="IdProvincia" class="control-label"></label>
                    <select id="provincias" asp-for="IdProvincia" asp-items=@(new SelectList(Model.LaListaDeProvincias,"Id","Nombre")) class="form-control" required>
                        <option selected="selected" disabled value="">Seleccione una opción</option>


                    </select>

                    <span asp-validation-for="IdProvincia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdCanton" class="control-label" style="width:210px;"></label>
                    <select id="cantones" asp-for="IdCanton" class="form-control" required>
                    </select>
                    <span asp-validation-for="IdCanton" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdDistrito" class="control-label" style="width:210px;"></label>
                    <select id="distritos" asp-for="IdDistrito" class="form-control" required>
                    </select>
                    <span asp-validation-for="IdDistrito" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Detalles" class="control-label"></label>
                    <textarea asp-for="Detalles" class="form-control" required></textarea>
                    <span asp-validation-for="Detalles" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-success btn-lg btn-block" />
                    <a class="btn btn-secondary btn-lg btn-block" asp-action="Mostrar">Volver</a>
                </div>

            </form>
        </div>
    </div>
</div>
   


    @section Scripts{
        <script type="text/javascript">



        $(document).ready(function () {
            $("#provincias").change(function () {
                $("#cantones").empty();
                $("#distritos").empty();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CargarCantones")',

                    dataType: 'json',

                    data: { id: $("#provincias").val() },

                    success: function (direcciones) {
                        $("#cantones").append('<option value="' + -1 + '">' + "Seleccione una opción" +'</option>');

                        $.each(direcciones, function (recorrer, cantones) {
                            $("#cantones").append('<option value="' + cantones.value + '">' + cantones.text + '</option>');
                        });
                    }


                });
                return false;
            })



        })


        $(document).ready(function () {
            $("#cantones").change(function () {
                $("#distritos").empty();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CargarDistritos")',

                    dataType: 'json',

                    data: { id: $("#cantones").val() },


                    success: function (direcciones) {
                        $("#distritos").append('<option value="' + -1 + '">' + "Seleccione una opción" +'</option>');

                        $.each(direcciones, function (recorrer, cantones) {
                            $("#distritos").append('<option value="' + cantones.value + '">' + cantones.text + '</option>');
                        });
                    }

                });
                return false;
            })



        })

        </script>
    }
