@model AsopaabiOnline.Modelo.Pedido

@{
    ViewBag.title = "Actualizar";
}

<h1>@ViewBag.title</h1>



<div class="card  w-50">
    <div class="col-sm-6">
        <form asp-controller="Pedidos" asp-action="Actualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />



            <div class="form-group">
                <label asp-for="FechaEntrega" class="control-label"></label>
                <input asp-for="FechaEntrega" class="form-control" />
                <span asp-validation-for="FechaEntrega" class="text-danger"></span>
            </div>
           

            
            <hr />
            <div class="form-group">

                <input type="submit" value="Guardar" class="btn btn-info" />
                <a class="btn btn-secondary" asp-action="Mostrar"><i class="fas fa-arrow-alt-circle-left"></i> Volver</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}
