@{
    ViewData["Title"] = "Acerca de Nosotros";
}
<h3>@ViewData["Title"]</h3>
<hr />
<br />


<div class="card">
    <div class="card-header">
        <h5>Reseña Histórica</h5>
    </div>
    <div class="card-body">

        <p class="text-justify">
            Asopaabi es una organización fundada en el 2014,
            con pequeños y medianos productores hortofrutícolas
            ubicados en Bijagua de Upala, bajo la ley 218,
            con el fin de crear fuentes de empleo en la zona de
            influencia y mejorar la calidad de vida de las familias.
        </p>


    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <h5>Objetivos</h5>
    </div>
    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <p class="text-justify">Facilitar a sus afiliados (as) capacitación y financiamiento para implementar técnicas orgánicas de producción en ambientes protegidos.</p> </li>
            <li class="list-group-item"> <p class="text-justify">Ofrecer fuentes de empleo en la comunidad y de desarrollo económico en el territorio Norte-Norte, mediante encadenamientos productivos solidarios.</p> </li>
            <li class="list-group-item"> <p class="text-justify">Ofrecer ayuda social solidaria y ambiental.</p> </li>
           
        </ul>

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <h5>Valores</h5>
    </div>
    <div class="card-body">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Compromiso</li>
            <li class="list-group-item">Fidelidad</li>
            <li class="list-group-item">Respeto</li>
            <li class="list-group-item">Compañerismo</li>
            <li class="list-group-item">Transparencia</li>
            <li class="list-group-item">Comunicación Asertiva</li>
        </ul>

    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <h5>Misión</h5>
    </div>
    <div class="card-body">

        <p class="text-justify">
            Somos una asociación emprendedora de pequeños productores (as)
            agrícolas de Bijagua de Upala y zonas aledañas,
            que busca mejorar las condiciones comerciales, técnicas y
            socio ambientales en el campo agrícola nacional,
            comprometidos con el desarrollo socioeconómico de las familias
            de nuestros afiliados (as) y con el territorio Norte-Norte.
        </p>


    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        <h5>Visión</h5>
    </div>
    <div class="card-body">

        <p class="text-justify">
            Ser una agroindustria productiva y ambiental que promueva el desarrollo
            socioeconómico sostenible en Costa Rica, reconocida por su calidad, puntualidad
            y volúmenes de producción, la cual se orienta a: Brindar mejores opciones de
            comercialización a los productos agrícolas de sus afiliados (as)
            y agricultores (as) del territorio Norte-Norte.
        </p>


    </div>
</div>
<br />
