@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="card">
    <div class="card-body">


        <p class="text-justify">
            Asopaabi Online es una empresa comprometida con
            sus clientes por eso lo invitamos a leer las politicas
        </p>
        <a href="#" class="card-link">Haz click aquí</a>
    </div>
</div>