

@{ 
    ViewBag.title = "Bloqueo";
}



<div class="card text-center w-100" style="margin-top:50px;">
    
        <h2 class="card-header "> <i class="fas fa-exclamation-triangle text-warning"></i> Bloqueo</h2>
        <h6>Esta cuenta ha sido bloqueda por seguridad.</h6>
        <p class="card-title text-center ">

            Por favor, puedes
            cambiar tu contraseña haciendo

            <a asp-action="ForgotPassword">
                clic aquí <i class="fas fa-mouse-pointer"></i> 
            </a>
        </p>


   
</div>
