

@{ 
    ViewBag.title = "Bloqueo";
}



<div class="card text-center w-100">

    <h2 class="card-header "> <i class="fas fa-exclamation-triangle text-warning"></i> Bloqueo</h2>
    <h6 >Esta cuenta ha sido bloqueda por seguridad.</h6>
    <p class="card-title text-center ">

        Por favor inténtalo más tarde o puedes
        cambiar tu contraseña haciendo

        <a asp-action="ForgotPassword">
            <i class="fas fa-mouse-pointer"></i> click aquí.
        </a>
    </p>


    <div class="card-footer text-left ">
        <a  class="btn btn-info btn-block" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
    </div>
</div>
