@model Login
@{
    ViewData["Title"] = "Inicio de Sesión";
}




<div class="row justify-content-md-center">

    <div class="card w-50">
        <h3 class="card-header text-center">Iniciar Sesión</h3>

        <div class="card-body">
            <form method="post">

                <div class="form-group">

                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" aria-describedby="inputGroup-sizing-default" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>


                    <input asp-for="Password" class="form-control" aria-describedby="inputGroup-sizing-default" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                
                <div class="form-check">
                    <input asp-for="RememberMe" class="form-check-input" id="defaultCheck1" />
                    <label asp-for="RememberMe" class="form-check-label"  for="defaultCheck1" >Recordarme?</label>
                </div>
             


                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-block" style="background-color:#008fa0; ">   Entrar   </button>

                </div>
                <div class="form-group">
                    <p>
                        <a asp-controller="Cuenta" asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>
                    </p>
                    <p>
                        <a asp-controller="Cuenta" asp-action="Register" class="btn btn-lg btn-block" style="background-color:#97c504">Crear cuenta nueva</a>
                    </p>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

