
@model Register
@{
    ViewData["Title"] = "Registro";
}

<h1>Registrarse</h1>

<div class="row">
    <div class="col-6 offset-3">
        <form method="post">
            <h4>Crear cuenta nueva</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DniType" class="control-label">Selecionar el tipo de Identificación: </label>
                <select id="tipoDeDni" asp-for="DniType" asp-items="Html.GetEnumSelectList<AsopaabiOnline.UI.Models.DNIType>()">
                    <option selected="selected" value="">Por favor seleccionar</option>
                </select>
                <br />
            </div>

            <div class="form-group">
                <label asp-for="DNI"></label>
                <input id="Dni" asp-for="DNI"  class="form-control" />
                <div id="elResultado" class="text-danger" />
            </div>



            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="SecondName"></label>
                <input asp-for="SecondName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="FirstLastName"></label>
                <input asp-for="FirstLastName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="SecondLastName"></label>
                <input asp-for="SecondLastName" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth"></label>
                <input asp-for="DateOfBirth" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="input-group">
                    <input id="txtPassword" asp-for="Password" class="form-control" />

                    <div class="input-group-append">
                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>

                <div class="input-group">
                    <input id="txtPasswordConfirm" asp-for="ConfirmPassword" class="form-control" style="width:250px" />

                    <div class="input-group-append">
                        <button id="showcontraseña" class="btn btn-primary" type="button" onclick="mostrarContraseña()"> <span class="fa fa-eye-slash icon"></span> </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber2"></label>
                <input asp-for="PhoneNumber2" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="ActivityType" class="control-label">Selecionar el tipo de Actividad : </label>
                <select asp-for="ActivityType" asp-items="Html.GetEnumSelectList<AsopaabiOnline.Modelo.TipoDeActividad>()">
                    <option selected="selected" value="">Por favor seleccionar</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />



    <script type="text/javascript">
        var dniType = 0;

        function mostrarPassword() {
            var cambio = document.getElementById("txtPassword");


            if (cambio.type == "password") {
                cambio.type = "text";
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            } else {
                cambio.type = "password";
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }


        }

        $(document).ready(function () {
            //CheckBox mostrar contraseña
            $('#ShowPassword').click(function () {
                $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
            });

        });

        function mostrarContraseña() {
            var cambio = document.getElementById("txtPasswordConfirm");


            if (cambio.type == "password") {
                cambio.type = "text";
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            } else {
                cambio.type = "password";
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }


        }

        $(document).ready(function () {
            //CheckBox mostrar contraseña
            $('#showcontraseña').click(function () {
                $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
            });

            $("#tipoDeDni").change(function () {
                let DNITYPE = $("#tipoDeDni").val();
                console.log(DNITYPE)
                if (DNITYPE == 1) {
                    dniType = 1
                } else {
                    dniType = 2
                }
            });;

            $("#Dni").on('keypress', function (e) {
                if (dniType == 1) {
                    var pressed = String.fromCharCode(e.which);
                    var final = this.value + pressed;
                    if (!final.match (^\d{ 1, 10 }(\.|\.\d{ 1, 10 }) ? $ / i) ) {
                        e.preventDefault(); // or return false;
                    }
                    console.log("one")
                    //test regex
                    ///^\d{ 1, 10 } (\.|\.\d{ 1, 10 }) ? $ / i
                    // $(this).val().match(/^[1-9]-\d{3}-\d{3}$/,)
                } else {
                    console.log("two")
                    var pressed = String.fromCharCode(e.which);
                    var final = this.value + pressed;
                    if (!final.match(/^[1-9]-\d{3}-\d{6}$/)) {
                        e.preventDefault(); // or return false;
                    }
                    // $(this).val().match(/^[1-9]-\d{3}-\d{6}$/)
                }
            });

        });



    </script>



}

