

@{
    ViewBag.title = "Confirmación de restablecimiento de contraseña";
}




<div class="row justify-content-md-center">
    <div class="card  w-25 text-center " style="margin:100px;">
        <h5 class="card-header">@ViewBag.title</h5>
        <div class="card-body m-2">

            <p class="card-text">Tu contraseña ha sido restablecida. </p>
           <p > Haz <a asp-action="Login"> <i class="fas fa-sign-in-alt"></i> clic aqui</a></p>

        </div>
    </div>
