@model ResetPassword
@{
    ViewBag.Title = "Restablecer Contraseña";
}


<div class="row justify-content-md-center">
    <div class="card w-50 " style="margin:100px;" >

        <h3 class="card-header text-center ">@ViewBag.Title</h3>

        <div class="card-body">
            <form method="post">
               
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="input-group">
                        <input id="txtPassword" asp-for="Password" class="form-control" aria-describedby="passwordHelpBlock" />

                        <div class="input-group-append">
                            <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                        </div>

                    </div>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        Su contraseña debe tener entre 8 y 20 carácteres, contener letras (mayúsculas y minúsculas) y números, y no debe contener espacios, caracteres especiales ni emoji.
                    </small>
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>

                    <div class="input-group">
                        <input id="txtPasswordConfirm" asp-for="ConfirmPassword" class="form-control" style="width:250px" />

                        <div class="input-group-append">
                            <button id="showcontraseña" class="btn btn-primary" type="button" onclick="mostrarContraseña()"> <span class="fa fa-eye-slash icon"></span> </button>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary btn-block">Restablecer</button>
            </form>

        </div>


    </div>

    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />

        <script type="text/javascript">
            var dniType = 0;

            function mostrarPassword() {
                var cambio = document.getElementById("txtPassword");


                if (cambio.type == "password") {
                    cambio.type = "text";
                    $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
                } else {
                    cambio.type = "password";
                    $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
                }


            }

            $(document).ready(function () {
                //CheckBox mostrar contraseña
                $('#ShowPassword').click(function () {
                    $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
                });

            });

            function mostrarContraseña() {
                var cambio = document.getElementById("txtPasswordConfirm");


                if (cambio.type == "password") {
                    cambio.type = "text";
                    $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
                } else {
                    cambio.type = "password";
                    $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
                }


            }

            $(document).ready(function () {
                //CheckBox mostrar contraseña
                $('#showcontraseña').click(function () {
                    $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
                });

                $("#tipoDeDni").change(function () {
                    let DNITYPE = $("#tipoDeDni").val();
                    console.log(DNITYPE)
                    if (DNITYPE == 1) {
                        dniType = 1
                    } else {
                        dniType = 2
                    }
                });;


            });



        </script>
    }
