

@{
    ViewBag.title = "Confirmación de restablecimiento de contraseña";
}



<div class="card w-50" style="margin:30px;">
    <h5 class="card-header">@ViewBag.title</h5>
    <div class="card-body m-2">

        <p class="card-text">Tu contraseña ha sido restablecida. Haz <a asp-action="Login"> <i class="fas fa-sign-in-alt"></i> click aqui</a></p>

    </div>
</div>
