<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AsopaabiOnline</title>

    <!-- Vendor CSS Files -->
    @*<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">*@

    <!-- Template Main CSS File -->
  
    <link href="assets/css/style.css" rel="stylesheet">

   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet"  href="~/css/site.css" />
    
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light badge-pill border-top box-shadow mb-3" >
            <div class="container">
                <div style="margin-right:60px ">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Tienda">
                        <img src="~/imagenes/logo.jpeg" width="60" height="60" class="d-inline-block align-top" alt="">
                        Asopaabi Online
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    
                    <ul class="navbar-nav flex-grow-1">


                        <li class="nav-item">

                            <a class="nav-link text-dark " asp-area="" asp-controller="Clientes" asp-action="Mostrar">
                                <img src="~/imagenes/Iconos/clientes.png" width="30" height="30" class="d-inline-block align-top" alt="">
                                Clientes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Empleados" asp-action="Mostrar">
                                <img src="~/imagenes/Iconos/equipo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                            Empleados</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/imagenes/Iconos/online-shopping.png" width="30" height="30" class="d-inline-block align-top" alt="">
                                Tienda
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="DireccionesParaPedidos" asp-action="Mostrar">
                                    <img src="~/imagenes/Iconos/direccion.png" width="30" height="30" class="d-inline-block align-top" alt="">
                                  Direccion</a>
                                <a class="dropdown-item" asp-controller="Productos" asp-action="Mostrar">
                                    <img src="~/imagenes/Iconos/alimentos-saludables.png" width="30" height="30" class="d-inline-block align-top" alt="">
                                    Productos
                                </a>
                                <a class="dropdown-item" asp-controller="Pedidos" asp-action="Mostrar">
                                    <img src="~/imagenes/Iconos/anadir-al-carrito.png" width="30" height="30" class="d-inline-block align-top" alt="">
                                    Pedidos
                                </a>



                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Historial</a>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Home" asp-action="AcercaDeNosotros">Acerca de Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacidad">Privacidad</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <footer class="border-top footer text-muted">
   
        <div class="container">
            &copy; 2020 - AsopaabiOnline- <a asp-area="" asp-controller="Home" asp-action="Privacidad">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
