@{
    ViewData["Title"] = "Cambiar tipo de cliente";
}
<hr />
<h1>@ViewData["Title"] a:</h1>

<br />
<nav class="nav flex-column">
    <a class="nav-link" asp-action="CambiarAClienteRegular" asp-route-id="@ViewBag.IdDelCliente">• Cliente regular</a>
    <a class="nav-link" asp-action="CambiarAClienteFrecuente" asp-route-id="@ViewBag.IdDelCliente">• Cliente frecuente</a>
</nav>
<br />
<hr />
<a class="btn btn-outline-secondary" asp-action="Mostrar">Volver</a>